body {
	font-family: -apple-system, $Inter, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
}

html {
	font-size: 62.5%; // 1 rem = 10px
}

body {
	font-size: 1.6rem; // 16px
}
