:root {
	--primary-dark: #37474f;
	--primary-light: rgb(95, 107, 114);

	--primary-contrast-text: #fff;
	--primary-text: rgba(0, 0, 0, 0.87);

	--secondary-dark: #26a69a;
	--secondary-light: rgb(81, 183, 174);

	--warning: #ffa726;
	--success: #66bb6a;
	--error: #f44336;
	--info: #0288d1;

	--neutral: #9e9e9e;
	--neutral-light: #e0e0e0;

	--focus: #1a73a8;
}
